/*  */

h2 {
    font-family: 'Courier New', Courier, monospace
    color: purple;
}

/* Seleção de id  */
#tabela {
    text-align: center;
}

/* Seleção de classe */
.negrito {
    font-weight: bold;
}

p.courrier {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
    font-style: italic;
}

form button {
    background-color: greenyellow;
}

img {
    height: 100px;
    border-radius: ;
}