@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700;800&display=swap');

:root {

  --cor-fundo-body: #132b23;
  --cor-texto-body: #ffffff;
  
  --cor-principal: #257500;   
  --cor-texto-claro: #ffffff;
  --cor-destaque: #1a8100;
  

  --cor-id-inicio: #0d1622;
  --cor-id-resto: #1d2b38;
  --cor-borda-id: #111316;

 
  --fonte-corpo: 'Inter', sans-serif;
  --fonte-titulos: 'Montserrat', sans-serif;
}


body {
  background-color: var(--cor-fundo-body);
  color: var(--cor-texto-body);
  font-family: var(--fonte-corpo);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: var(--cor-principal);
  color: var(--cor-texto-claro);
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  font-family: var(--fonte-titulos);
  font-weight: 800;
}


.titulo-secao {
  font-family: var(--fonte-titulos);
  color: var(--cor-destaque);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}


.card-programa {
  background-color: #130d0d;
  border: 1px solid #0b0e11;
  border-radius: 8px; 
  padding: 20px;
  margin: 15px 0;
  font-size: 0.95rem; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}


#inicio {
  background-color: var(--cor-id-inicio);
  padding: 30px;
  border-radius: 8px;
  border: 2px solid var(--cor-destaque);
}


#programacao, #contato {
  background-color: var(--cor-id-resto);
  padding: 25px;
  margin-top: 20px;
  border-left: 6px solid var(--cor-principal); 
  border-radius: 0 8px 8px 0;
}


nav ul {
  list-style: none; 
  padding: 0;
  margin: 10px 0 0 0;
}

nav ul li {
  display: inline-block; 
  margin: 0 15px;
}

nav a {
  text-decoration: none; 
  color: #a5fd93; 
  font-family: var(--fonte-titulos);
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 4px;
}

nav a:hover {
  color: var(--cor-texto-claro);
  background-color: var(--cor-destaque); 
}